@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    vertical-align: top;
}
ul,ol,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}
address,i{
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
:root{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222326;
    line-height: 1.5;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.skip-nav{
    position: fixed;
    left: 0;
    right: 0;
    top: -1000px;
    z-index: 9999;
    padding: 1em;
    background-color: #222326;
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.skip-nav ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


/* .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */
.wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2em;
    
}
.doc-tit{
    display: none;
}

/* header */
.header,.slider,.footer{
    grid-column: 1/3;
}
.header{
    position: relative;
    z-index: 1;
}
.header .container{
    border-bottom: 1px solid #222326;
}
.header .row{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    align-items: center;

    height: 100px;
}
.logo{
    padding: 0 1em;
    font-weight: 700;
    font-size: 2.5em;
}
.logo span:nth-child(1){
    color: tomato;
}
.logo span:nth-child(2){ 
    color: darkred;
}
.nav{
    align-self: flex-end;
}
.nav-level1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.nav-level1>li{
    border-bottom: 2px solid transparent;
    padding: 1em;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    /* z-index: 100; */
}
.nav-level1>li:hover{
    border-bottom: 2px solid tomato;
    color: tomato;
}
.nav-level2{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 2px);
    height: 150px;
    padding: 0.5em;
    background-color: #222326;
    color: #fff;
    font-size: 0.6em;
    font-weight: 400;
}
.nav-level2 li{
    padding: 0.3em;
}
.nav-level2 li:hover{
    padding: 0.3em 0.2em;
    background-color: tomato;
    color: #fff;
    /* transform: scale(1.3); */
}


/* slider */
.slider{
    margin-bottom: 2em;
}
.slider .sec-tit{
    display: none;
}
.slider .row{
    overflow: hidden;
    position: relative;
    height: 300px;
}
.slider .slide{
    position: absolute;
    left: 0;
    /* top: 50%;
    transform: translateY(-50%); */
    width: 100%;
}
.slider .slide02{
    left: 100%;
}
.slider .slide03{
    left: 200%;
}
.slide-content{
    position: absolute;
    left: 20%;
    top: 50%;
    right: 20%;
    bottom: -100%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 1em 3em;
}
.slide-content::after{
    content: '자세히 보러가기';
    display: block;
    color: #fff;
    text-align: right;
}
.slide-content h3{
    font-weight: 400;
    font-size: 1em;
}
.slide-content p{
    font-weight: 700;
    font-size: 2em;
}


/* notice-gallery */
.notice-gallery{
    padding: 1em;
}
.notice-gallery .sec-tit{
    display: none;
}
.notice-gallery .row{
    position: relative;
    height: 250px;
    overflow: hidden;
}
.notice-gallery .art{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 60px;
    z-index: 10;
}
.sub-tit{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    padding: 1em;
    border-bottom: 2px solid tomato;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
.art.on .sub-tit{
    background-color: tomato;
    color: #fff;
    cursor: pointer;
}
.notice-gallery .art.on{
    z-index: 9;
}
.art.on .notice-list{
    display: block;
}
.art.on .gallery-list{
    display: flex;
}
.notice-list{
    display: none;
}
.notice-list>li{
    margin: 0.3em 0;
}
.notice-list ul{
    display: grid;
    grid-template-columns: 7fr 3fr 2fr;
    text-align: center;
    font-weight: 600;
}
.notice-list ul.notice-content{
    font-weight: 400;
}
.notice-list ul li:first-child,
.notice-list ul li:last-child{
    display: none; 
}
.notice-list ul li:nth-child(2){
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.gallery .sub-tit{
    left: auto;
    right: 0%;
}
.gallery-list{
    /* display: grid; */
    display: none;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5em;
}
.gallery-content{
    display: none;
}

/* banner */
.banner{
    margin-bottom: 4em;
}
.banner .sec-tit{
    display: none;
}
.banner .row{
    height: 250px;
    overflow: hidden;
    position: relative;
}
.banner-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2em;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
}
.banner-content .cont-tit{
    font-weight: 700;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 1px #000;
}
.banner-content p{
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 1px #000;
}


/* footer */
.footer{
    border-top: 1px solid darkred;
    padding: 2em 0;
}
.footer .row{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    gap: 2em;
}
address{
    text-align: center;
}
.sns-list ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}

.modal-popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(138,0,0,0.5);
    z-index: 5000;
}
.modal-popup .row{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    border-radius: 0.5em;
    padding: 2em;
    background-color: #fff;
}
.modal-popup h2{
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
}
.modal-content{
    margin-bottom: 2em;
}
.modal-btn{
    text-align: center;
}
.modal-btn button{
    padding: 0.5em 1em;
    border: 1px solid tomato;
    background-color: #fff;
    color: tomato;
    cursor: pointer;
}
.modal-btn button:hover{
    border: 1px solid tomato;
    background-color: tomato;
    color: #fff;
}